$background-color: #c2c2c2;
$font-family: Helvetica, sans-serif;

body {
	background-color: $background-color;
	font-family: $font-family;
}

.div-with-border {
    border: 1px solid;
    border-radius: 15px;
    font-size: 10px;
    text-align: center;
    padding: 3px;
    height: 20px;
    width: 100px;
    display: flex;
    transition: all .5s;
    user-select: none;
    background: linear-gradient(to bottom, white, black);
}