$background-color: #c2c2c2;
$font-family: Helvetica, sans-serif;

body {
	background-color: $background-color;
	font-family: $font-family;
}

.div-with-border {
    border: 2px solid;
    border-radius: 25px;
    height: 20px;
    width: 100px;
    display: flex;
    transition: all .5s;
    user-select: none;
    background: linear-gradient(to bottom, white, black);
}